extends ../layout

block content
    h3 Books
    table
        thead
            tr
                th author
                th publisher
                th genre
                th pages
                th image
                th description
                th title
        tbody
            each Book in Books
                tr
                    td= Book.author
                    td= Book.publisher
                    td= Book.genre
                    td= Book.pages
                    td= Book.image
                    td= Book.description
                    td= Book.title